[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "python setup.py bdist_wheel"
test = "pytest --cov=src"

[packages]
awsglue-local = "*"
pyspark = "*"
glue-src = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
